@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./assets/fonts/Jost-Medium.ttf");
}
